<div class="row align-items-start">
    <!-- servicos -->
    <div style="border: 1px solid #333;  width: 66%;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-check-square-o fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            Atendimentos
                            <div class="description-stats2 total-atendimentos">{{totalAtendimento}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-calendar fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            Agendamentos
                            <div class="description-stats2">{{totalAgendamento}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-calculator fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            Pagamentos Pin Pad
                            <div class="description-stats2">{{totalPagamentos}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-barcode fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            Emissões de Dare
                            <div class="description-stats2">{{totalEmissaoDare}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-globe fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            Estações Online
                            <div class="description-stats2">54/65</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-clock-o fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            Tempo Médio Atendimento
                            <div class="description-stats2">{{totalTempoMedioAtendimento}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-id-card-o fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            {{servicos1}}
                            <div class="description-stats2">{{totalServicos1}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-address-book-o fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            {{servicos2}}
                            <div class="description-stats2 total-emissao-antecedentes">{{totalServicos2}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-book fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            {{agendamento1}}
                            <div class="description-stats2 total-agendamento-carteira">{{totalAgendamento1}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-id-card-o fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            {{agendamento2}}
                            <div class="description-stats2 total-agendamento-identidade">{{totalAgendamento2}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <div class="pie-chart-item-container">
                        <i class="fa fa-address-card-o fa-4x color" aria-hidden="true"></i>
                        <div class="description2">
                            {{agendamento3}}
                            <div class="description-stats2 total-agendamento-seguro">{{totalAgendamento3}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /servicos -->

    <!-- Gráficos  -->
    <div class="col-md-4 col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="pie-chart-item">
                    <div class="card-header clearfix">
                        <h2 class="card-title"> Volumetria</h2>
                    </div>
                    <br>

                    <piechart></piechart>


                    <div class="card-header clearfix">
                        <h3 class="card-title"> Satisfação: 87%</h3>

                    </div>
                    <div class="offset-sm-3 col-sm-6">
                        <app-gaugechart></app-gaugechart>
                    </div>
                    <br>
                    <br>
                    <div class="card-header clearfix">
                        <h3 class="card-title"> Ranking</h3>
                    </div>
                    <br>
                    <app-tabela-cidades></app-tabela-cidades>

                </div>
            </div>
        </div>
    </div>
    <!-- /Gráficos  -->



</div>
<!--/ row  -->